
<div *ngIf="skillsProfile">
    <h2><span>Skills Profile</span> {{skillsProfile.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>For Candidate</span></dt>
        <dd>
            <span>{{skillsProfile.forCandidate}}</span>
        </dd>
        <dt><span>Specialty</span></dt>
        <dd>
            <span>{{skillsProfile.specialty}}</span>
        </dd>
        <dt><span>Specialty XP</span></dt>
        <dd>
            <span>{{skillsProfile.specialtyXP}}</span>
        </dd>
        <dt><span>Skill 1</span></dt>
        <dd>
            <span>{{skillsProfile.skill1}}</span>
        </dd>
        <dt><span>Skill 2</span></dt>
        <dd>
            <span>{{skillsProfile.skill2}}</span>
        </dd>
        <dt><span>Skill 3</span></dt>
        <dd>
            <span>{{skillsProfile.skill3}}</span>
        </dd>
        <dt><span>Skill 4</span></dt>
        <dd>
            <span>{{skillsProfile.skill4}}</span>
        </dd>
        <dt><span>Skill 5</span></dt>
        <dd>
            <span>{{skillsProfile.skill5}}</span>
        </dd>
        <dt><span>Skill 1 XP</span></dt>
        <dd>
            <span>{{skillsProfile.skill1XP}}</span>
        </dd>
        <dt><span>Skill 2 XP</span></dt>
        <dd>
            <span>{{skillsProfile.skill2XP}}</span>
        </dd>
        <dt><span>Skill 3 XP</span></dt>
        <dd>
            <span>{{skillsProfile.skill3XP}}</span>
        </dd>
        <dt><span>Skill 4 XP</span></dt>
        <dd>
            <span>{{skillsProfile.skill4XP}}</span>
        </dd>
        <dt><span>Skill 5 XP</span></dt>
        <dd>
            <span>{{skillsProfile.skill5XP}}</span>
        </dd>
        <dt><span>User Profile</span></dt>
        <dd>
            <div *ngIf="skillsProfile.userProfileId">
                <a [routerLink]="['/user-profile-itharmony', skillsProfile.userProfileId]">{{skillsProfile.userProfileId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'skills-profile-itharmony/'+ skillsProfile.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
