<div>
    <h2>
        <span>Job Posts</span>
        <button class="btn btn-primary float-right jh-create-entity create-job-post-itharmony" [routerLink]="['/', { outlets: { popup: ['job-post-itharmony-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Job Post
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="jobPosts">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Position Title</span></th>
            <th><span>Position Type</span></th>
            <th><span>Description</span></th>
            <th><span>City</span></th>
            <th><span>State</span></th>
            <th><span>Start Date</span></th>
            <th><span>Degree Required</span></th>
            <th><span>Minimum GPA</span></th>
            <th><span>Skills Profile</span></th>
            <th><span>User Profile</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let jobPost of jobPosts ;trackBy: trackId">
                <td><a [routerLink]="['../job-post-itharmony', jobPost.id ]">{{jobPost.id}}</a></td>
                <td>{{jobPost.positionTitle}}</td>
                <td>{{jobPost.positionType}}</td>
                <td>{{jobPost.description}}</td>
                <td>{{jobPost.city}}</td>
                <td>{{jobPost.state}}</td>
                <td>{{jobPost.startDate | date:'mediumDate'}}</td>
                <td>{{jobPost.degreeRequired}}</td>
                <td>{{jobPost.minimumGPA}}</td>
                <td>
                    <div *ngIf="jobPost.skillsProfileId">
                        <a [routerLink]="['../skills-profile-itharmony', jobPost.skillsProfileId  ]" >{{jobPost.skillsProfileId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="jobPost.userProfileId">
                        <a [routerLink]="['../user-profile-itharmony', jobPost.userProfileId  ]" >{{jobPost.userProfileId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../job-post-itharmony', jobPost.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'job-post-itharmony/'+ jobPost.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'job-post-itharmony/'+ jobPost.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
