<div>
    <h2>
        <span>User Profiles</span>
        <button class="btn btn-primary float-right jh-create-entity create-user-profile-itharmony" [routerLink]="['/', { outlets: { popup: ['user-profile-itharmony-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new User Profile
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="userProfiles">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>User Type</span></th>
            <th><span>Email</span></th>
            <th><span>Password</span></th>
            <th><span>Phone</span></th>
            <th><span>City</span></th>
            <th><span>State</span></th>
            <th><span>Profile Picture</span></th>
            <th><span>Bio</span></th>
            <th><span>Culture Profile</span></th>
            <th><span>Candidate Profile</span></th>
            <th><span>Company Profile</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let userProfile of userProfiles ;trackBy: trackId">
                <td><a [routerLink]="['../user-profile-itharmony', userProfile.id ]">{{userProfile.id}}</a></td>
                <td>{{userProfile.userType}}</td>
                <td>{{userProfile.email}}</td>
                <td>{{userProfile.password}}</td>
                <td>{{userProfile.phone}}</td>
                <td>{{userProfile.city}}</td>
                <td>{{userProfile.state}}</td>
                <td>
                    <a *ngIf="userProfile.profilePicture" (click)="openFile(userProfile.profilePictureContentType, userProfile.profilePicture)">open</a>
                    <span *ngIf="userProfile.profilePicture">{{userProfile.profilePictureContentType}}, {{byteSize(userProfile.profilePicture)}}</span>
                </td>
                <td>{{userProfile.bio}}</td>
                <td>
                    <div *ngIf="userProfile.cultureProfileId">
                        <a [routerLink]="['../culture-profile-itharmony', userProfile.cultureProfileId  ]" >{{userProfile.cultureProfileId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="userProfile.candidateProfileId">
                        <a [routerLink]="['../candidate-profile-itharmony', userProfile.candidateProfileId  ]" >{{userProfile.candidateProfileId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="userProfile.companyProfileId">
                        <a [routerLink]="['../company-profile-itharmony', userProfile.companyProfileId  ]" >{{userProfile.companyProfileId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../user-profile-itharmony', userProfile.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'user-profile-itharmony/'+ userProfile.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'user-profile-itharmony/'+ userProfile.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
