
<div *ngIf="userProfile">
    <h2><span>User Profile</span> {{userProfile.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>User Type</span></dt>
        <dd>
            <span>{{userProfile.userType}}</span>
        </dd>
        <dt><span>Email</span></dt>
        <dd>
            <span>{{userProfile.email}}</span>
        </dd>
        <dt><span>Password</span></dt>
        <dd>
            <span>{{userProfile.password}}</span>
        </dd>
        <dt><span>Phone</span></dt>
        <dd>
            <span>{{userProfile.phone}}</span>
        </dd>
        <dt><span>City</span></dt>
        <dd>
            <span>{{userProfile.city}}</span>
        </dd>
        <dt><span>State</span></dt>
        <dd>
            <span>{{userProfile.state}}</span>
        </dd>
        <dt><span>Profile Picture</span></dt>
        <dd>
            <div *ngIf="userProfile.profilePicture">
                <a (click)="openFile(userProfile.profilePictureContentType, userProfile.profilePicture)">open</a>
                {{userProfile.profilePictureContentType}}, {{byteSize(userProfile.profilePicture)}}
            </div>
        </dd>
        <dt><span>Bio</span></dt>
        <dd>
            <span>{{userProfile.bio}}</span>
        </dd>
        <dt><span>Culture Profile</span></dt>
        <dd>
            <div *ngIf="userProfile.cultureProfileId">
                <a [routerLink]="['/culture-profile-itharmony', userProfile.cultureProfileId]">{{userProfile.cultureProfileId}}</a>
            </div>
        </dd>
        <dt><span>Candidate Profile</span></dt>
        <dd>
            <div *ngIf="userProfile.candidateProfileId">
                <a [routerLink]="['/candidate-profile-itharmony', userProfile.candidateProfileId]">{{userProfile.candidateProfileId}}</a>
            </div>
        </dd>
        <dt><span>Company Profile</span></dt>
        <dd>
            <div *ngIf="userProfile.companyProfileId">
                <a [routerLink]="['/company-profile-itharmony', userProfile.companyProfileId]">{{userProfile.companyProfileId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'user-profile-itharmony/'+ userProfile.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
