<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myUserProfileLabel">Create or edit a User Profile</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!userProfile.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="userProfile.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_userType">User Type</label>
            <select class="form-control" name="userType" [(ngModel)]="userProfile.userType" id="field_userType"  required>
                <option value="CANDIDATE">CANDIDATE</option>
                <option value="COMPANY">COMPANY</option>
                <option value="ADMIN">ADMIN</option>
            </select>
            <div [hidden]="!(editForm.controls.userType?.dirty && editForm.controls.userType?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.userType?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_email">Email</label>
            <input type="text" class="form-control" name="email" id="field_email"
                [(ngModel)]="userProfile.email" required/>
            <div [hidden]="!(editForm.controls.email?.dirty && editForm.controls.email?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.email?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_password">Password</label>
            <input type="text" class="form-control" name="password" id="field_password"
                [(ngModel)]="userProfile.password" required/>
            <div [hidden]="!(editForm.controls.password?.dirty && editForm.controls.password?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.password?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_phone">Phone</label>
            <input type="text" class="form-control" name="phone" id="field_phone"
                [(ngModel)]="userProfile.phone" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_city">City</label>
            <input type="text" class="form-control" name="city" id="field_city"
                [(ngModel)]="userProfile.city" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_state">State</label>
            <input type="text" class="form-control" name="state" id="field_state"
                [(ngModel)]="userProfile.state" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_profilePicture">Profile Picture</label>
            <div>
                <div *ngIf="userProfile.profilePicture" class="form-text text-danger clearfix">
                    <a class="pull-left" (click)="openFile(userProfile.profilePictureContentType, userProfile.profilePicture)">open</a><br>
                    <span class="pull-left">{{userProfile.profilePictureContentType}}, {{byteSize(userProfile.profilePicture)}}</span>
                    <button type="button" (click)="userProfile.profilePicture=null;userProfile.profilePictureContentType=null;"
                            class="btn btn-secondary btn-xs pull-right">
                        <span class="fa fa-times"></span>
                    </button>
                </div>
                <input type="file" id="file_profilePicture" (change)="setFileData($event, userProfile, 'profilePicture', false)"/>
            </div>
            <input type="hidden" class="form-control" name="profilePicture" id="field_profilePicture"
                [(ngModel)]="userProfile.profilePicture" />
            <input type="hidden" class="form-control" name="profilePictureContentType" id="field_profilePictureContentType"
                [(ngModel)]="userProfile.profilePictureContentType" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_bio">Bio</label>
            <input type="text" class="form-control" name="bio" id="field_bio"
                [(ngModel)]="userProfile.bio" />
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_cultureProfile">Culture Profile</label>
            <select class="form-control" id="field_cultureProfile" name="cultureProfile" [(ngModel)]="userProfile.cultureProfileId">
                <option [ngValue]="null"></option>
                <option [ngValue]="cultureProfileOption.id" *ngFor="let cultureProfileOption of cultureprofiles; trackBy: trackCultureProfileById">{{cultureProfileOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_candidateProfile">Candidate Profile</label>
            <select class="form-control" id="field_candidateProfile" name="candidateProfile" [(ngModel)]="userProfile.candidateProfileId">
                <option [ngValue]="null"></option>
                <option [ngValue]="candidateProfileOption.id" *ngFor="let candidateProfileOption of candidateprofiles; trackBy: trackCandidateProfileById">{{candidateProfileOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_companyProfile">Company Profile</label>
            <select class="form-control" id="field_companyProfile" name="companyProfile" [(ngModel)]="userProfile.companyProfileId">
                <option [ngValue]="null"></option>
                <option [ngValue]="companyProfileOption.id" *ngFor="let companyProfileOption of companyprofiles; trackBy: trackCompanyProfileById">{{companyProfileOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
