<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myJobMatchLabel">Create or edit a Job Match</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!jobMatch.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="jobMatch.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_skillRank">Skill Rank</label>
            <input type="number" class="form-control" name="skillRank" id="field_skillRank"
                [(ngModel)]="jobMatch.skillRank" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_cultureRank">Culture Rank</label>
            <input type="number" class="form-control" name="cultureRank" id="field_cultureRank"
                [(ngModel)]="jobMatch.cultureRank" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_active">Active</label>
            <input type="checkbox" class="form-control" name="active" id="field_active"
                [(ngModel)]="jobMatch.active" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_candidateApplied">Candidate Applied</label>
            <input type="checkbox" class="form-control" name="candidateApplied" id="field_candidateApplied"
                [(ngModel)]="jobMatch.candidateApplied" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_companyRejected">Company Rejected</label>
            <input type="checkbox" class="form-control" name="companyRejected" id="field_companyRejected"
                [(ngModel)]="jobMatch.companyRejected" />
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_userProfileExtra">User Profile Extra</label>
            <select class="form-control" id="field_userProfileExtra" name="userProfileExtra" [(ngModel)]="jobMatch.userProfileExtraId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="userProfileExtraOption.id" *ngFor="let userProfileExtraOption of userprofileextras; trackBy: trackUserProfileExtraById">{{userProfileExtraOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_jobPost">Job Post</label>
            <select class="form-control" id="field_jobPost" name="jobPost" [(ngModel)]="jobMatch.jobPostId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="jobPostOption.id" *ngFor="let jobPostOption of jobposts; trackBy: trackJobPostById">{{jobPostOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
