<div>
    <h2>
        <span>Job Matches</span>
        <button class="btn btn-primary float-right jh-create-entity create-job-match-itharmony" [routerLink]="['/', { outlets: { popup: ['job-match-itharmony-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Job Match
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="jobMatches">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Skill Rank</span></th>
            <th><span>Culture Rank</span></th>
            <th><span>Active</span></th>
            <th><span>Candidate Applied</span></th>
            <th><span>Company Rejected</span></th>
            <th><span>User Profile Extra</span></th>
            <th><span>Job Post</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let jobMatch of jobMatches ;trackBy: trackId">
                <td><a [routerLink]="['../job-match-itharmony', jobMatch.id ]">{{jobMatch.id}}</a></td>
                <td>{{jobMatch.skillRank}}</td>
                <td>{{jobMatch.cultureRank}}</td>
                <td>{{jobMatch.active}}</td>
                <td>{{jobMatch.candidateApplied}}</td>
                <td>{{jobMatch.companyRejected}}</td>
                <td>
                    <div *ngIf="jobMatch.userProfileExtraId">
                        <a [routerLink]="['../user-profile-extra-itharmony', jobMatch.userProfileExtraId  ]" >{{jobMatch.userProfileExtraId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="jobMatch.jobPostId">
                        <a [routerLink]="['../job-post-itharmony', jobMatch.jobPostId  ]" >{{jobMatch.jobPostId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../job-match-itharmony', jobMatch.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'job-match-itharmony/'+ jobMatch.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'job-match-itharmony/'+ jobMatch.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
