<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myCandidateEducationLabel">Create or edit a Candidate Education</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!candidateEducation.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="candidateEducation.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_schoolName">School Name</label>
            <input type="text" class="form-control" name="schoolName" id="field_schoolName"
                [(ngModel)]="candidateEducation.schoolName" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_degreeType">Degree Type</label>
            <select class="form-control" name="degreeType" [(ngModel)]="candidateEducation.degreeType" id="field_degreeType" >
                <option value="ASSOCIATES">ASSOCIATES</option>
                <option value="BACHELOR">BACHELOR</option>
                <option value="MASTER">MASTER</option>
                <option value="DOCTORATE">DOCTORATE</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_inProgress">In Progress</label>
            <input type="checkbox" class="form-control" name="inProgress" id="field_inProgress"
                [(ngModel)]="candidateEducation.inProgress" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_graduationDate">Graduation Date</label>
            <div class="input-group">
                <input id="field_graduationDate" type="text" class="form-control" name="graduationDate" ngbDatepicker  #graduationDateDp="ngbDatepicker" [(ngModel)]="candidateEducation.graduationDate"
                />
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="graduationDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_major">Major</label>
            <input type="text" class="form-control" name="major" id="field_major"
                [(ngModel)]="candidateEducation.major" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_gpa">Gpa</label>
            <input type="number" class="form-control" name="gpa" id="field_gpa"
                [(ngModel)]="candidateEducation.gpa" />
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_userProfile">User Profile</label>
            <select class="form-control" id="field_userProfile" name="userProfile" [(ngModel)]="candidateEducation.userProfileId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="userProfileOption.id" *ngFor="let userProfileOption of userprofiles; trackBy: trackUserProfileById">{{userProfileOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
