
<div *ngIf="candidateEducation">
    <h2><span>Candidate Education</span> {{candidateEducation.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>School Name</span></dt>
        <dd>
            <span>{{candidateEducation.schoolName}}</span>
        </dd>
        <dt><span>Degree Type</span></dt>
        <dd>
            <span>{{candidateEducation.degreeType}}</span>
        </dd>
        <dt><span>In Progress</span></dt>
        <dd>
            <span>{{candidateEducation.inProgress}}</span>
        </dd>
        <dt><span>Graduation Date</span></dt>
        <dd>
            <span>{{candidateEducation.graduationDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Major</span></dt>
        <dd>
            <span>{{candidateEducation.major}}</span>
        </dd>
        <dt><span>Gpa</span></dt>
        <dd>
            <span>{{candidateEducation.gpa}}</span>
        </dd>
        <dt><span>User Profile Extra</span></dt>
        <dd>
            <div *ngIf="candidateEducation.userProfileExtraId">
                <a [routerLink]="['/user-profile-extra-itharmony', candidateEducation.userProfileExtraId]">{{candidateEducation.userProfileExtraId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'candidate-education-itharmony/'+ candidateEducation.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
