<div *ngIf="isCompany">
    Only companies see this!
</div>
<div *ngIf="!isCompany">
    Only candidates see this!
</div>
<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
        Please enter the following information:
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <label class="form-control-label" for="field_phone">Phone</label>
            <input type="text" class="form-control" name="phone" id="field_phone"
                [(ngModel)]="userProfileExtra.phone" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_city">City</label>
            <input type="text" class="form-control" name="city" id="field_city"
                [(ngModel)]="userProfileExtra.city" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_state">State</label>
            <input type="text" class="form-control" name="state" id="field_state"
                [(ngModel)]="userProfileExtra.state" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_bio">Short Biography:</label>
            <input type="text" class="form-control" name="bio" id="field_bio"
                [(ngModel)]="userProfileExtra.bio" />
        </div>
    <div class="modal-footer">
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
