<div>
    <label type="form-control-label">Who are you registering as?</label>
    <br>
    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-secondary" (click)="setUserRole('CANDIDATE')">Candidate</button>
        <button type="button" class="btn btn-secondary" (click)="setUserRole('COMPANY')">Corporate</button>
    </div>
        <button type="button" class="btn btn-primary" (click)="createUserProfileExtra()">Continue...</button>
</div>
