<form name="jobForm" role="form" novalidate (ngSubmit)="save()" #jobForm="ngForm">
           <div class="modal-header">
                <h4 class="modal-title" id="mySkillsProfileLabel">Create a Job Posting</h4>
            </div>
            <div class="modal-body">
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group">
                    <label class="form-control-label" for="field_positionTitle">Position Title</label>
                    <input type="text" class="form-control" name="positionTitle" id="field_positionTitle">
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_positionType">Position Type</label>
                    <input type="text" class="form-control" name="positionType" id="field_positionType">
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_positionDescription">Position Description</label>
                    <input type="text" class="form-control" name="positionDescription" id="field_positionDescription">
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_locationCity">City</label>
                    <input type="text" class="form-control" name="locationCity" id="field_locationCity">
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_locationState">State</label>
                    <input type="text" class="form-control" name="locationState" id="field_locationState">
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_startDate">Start Date</label>
                    <input type="date" class="form-control" name="startDate" id="field_startDate">
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_degreeRequired">Degree Required</label>
                    <input type="checkbox" class="form-control" name="degreeRequired" id="field_degreeRequired">
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_minimumGPA">Minimum GPA</label>
                    <input type="range" min="0.0" max="4.0" step="0.1" value="3.0" class="slider" name="minimumGPA" id="field_minimumGPA">
                </div>

            </div>
            <div class="modal-footer">
                <button type="submit" [disabled]="jobForm.form.invalid || isSaving" class="btn btn-primary">
                    <span class="fa fa-save"></span>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
