<div>
    <h2>
        <span>Candidate Work Experiences</span>
        <button class="btn btn-primary float-right jh-create-entity create-candidate-work-experience-itharmony" [routerLink]="['/', { outlets: { popup: ['candidate-work-experience-itharmony-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Candidate Work Experience
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="candidateWorkExperiences">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Company Name</span></th>
            <th><span>Position</span></th>
            <th><span>Current Job</span></th>
            <th><span>Start Date</span></th>
            <th><span>End Date</span></th>
            <th><span>Description</span></th>
            <th><span>User Profile</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let candidateWorkExperience of candidateWorkExperiences ;trackBy: trackId">
                <td><a [routerLink]="['../candidate-work-experience-itharmony', candidateWorkExperience.id ]">{{candidateWorkExperience.id}}</a></td>
                <td>{{candidateWorkExperience.companyName}}</td>
                <td>{{candidateWorkExperience.position}}</td>
                <td>{{candidateWorkExperience.currentJob}}</td>
                <td>{{candidateWorkExperience.startDate | date:'mediumDate'}}</td>
                <td>{{candidateWorkExperience.endDate | date:'mediumDate'}}</td>
                <td>{{candidateWorkExperience.description}}</td>
                <td>
                    <div *ngIf="candidateWorkExperience.userProfileId">
                        <a [routerLink]="['../user-profile-itharmony', candidateWorkExperience.userProfileId  ]" >{{candidateWorkExperience.userProfileId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../candidate-work-experience-itharmony', candidateWorkExperience.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'candidate-work-experience-itharmony/'+ candidateWorkExperience.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'candidate-work-experience-itharmony/'+ candidateWorkExperience.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
