<div>
    <h2>
        <span>Culture Profiles</span>
        <button class="btn btn-primary float-right jh-create-entity create-culture-profile-itharmony" [routerLink]="['/', { outlets: { popup: ['culture-profile-itharmony-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Culture Profile
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="cultureProfiles">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Dresscode</span></th>
            <th><span>Companysize</span></th>
            <th><span>Floorplan</span></th>
            <th><span>Hours</span></th>
            <th><span>Groups</span></th>
            <th><span>Pace</span></th>
            <th><span>Rules</span></th>
            <th><span>Amenities</span></th>
            <th><span>Meetings</span></th>
            <th><span>Philanthropy</span></th>
            <th><span>Outings</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let cultureProfile of cultureProfiles ;trackBy: trackId">
                <td><a [routerLink]="['../culture-profile-itharmony', cultureProfile.id ]">{{cultureProfile.id}}</a></td>
                <td>{{cultureProfile.dresscode}}</td>
                <td>{{cultureProfile.companysize}}</td>
                <td>{{cultureProfile.floorplan}}</td>
                <td>{{cultureProfile.hours}}</td>
                <td>{{cultureProfile.groups}}</td>
                <td>{{cultureProfile.pace}}</td>
                <td>{{cultureProfile.rules}}</td>
                <td>{{cultureProfile.amenities}}</td>
                <td>{{cultureProfile.meetings}}</td>
                <td>{{cultureProfile.philanthropy}}</td>
                <td>{{cultureProfile.outings}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../culture-profile-itharmony', cultureProfile.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'culture-profile-itharmony/'+ cultureProfile.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'culture-profile-itharmony/'+ cultureProfile.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
