
<div *ngIf="candidateProfile">
    <h2><span>Candidate Profile</span> {{candidateProfile.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>First Name</span></dt>
        <dd>
            <span>{{candidateProfile.firstName}}</span>
        </dd>
        <dt><span>Last Name</span></dt>
        <dd>
            <span>{{candidateProfile.lastName}}</span>
        </dd>
        <dt><span>Desired Job Type</span></dt>
        <dd>
            <span>{{candidateProfile.desiredJobType}}</span>
        </dd>
        <dt><span>Email</span></dt>
        <dd>
            <span>{{candidateProfile.email}}</span>
        </dd>
        <dt><span>Linked In</span></dt>
        <dd>
            <span>{{candidateProfile.linkedIn}}</span>
        </dd>
        <dt><span>Website</span></dt>
        <dd>
            <span>{{candidateProfile.website}}</span>
        </dd>
        <dt><span>Github</span></dt>
        <dd>
            <span>{{candidateProfile.github}}</span>
        </dd>
        <dt><span>Resume</span></dt>
        <dd>
            <div *ngIf="candidateProfile.resume">
                <a (click)="openFile(candidateProfile.resumeContentType, candidateProfile.resume)">open</a>
                {{candidateProfile.resumeContentType}}, {{byteSize(candidateProfile.resume)}}
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'candidate-profile-itharmony/'+ candidateProfile.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
